/* #productos {
    margin: 50px auto 80px auto;
}

.example-card {
    max-width: 220px;
    box-shadow: none;
    cursor: pointer;
}

.descripcion {
    opacity: 0;
    visibility: hidden;
}

.example-card:hover {
    height: 360px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.example-card:hover .descripcion {
    opacity: 1;
    visibility: visible;
} */






/* @keyframes mostrarDescripcion {
 100% {
    height: 360px;
    opacity: 1;
    visibility: visible;
 }
} */

/*
.container {
    background-color: white;
    width: 100%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 340px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #646464;
    margin: 5px;
    width: 8px;
    height: 8px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all 500ms;
}

.menu li a:hover {
    background-color: #282828;
    border: 2px solid #b0b0b0;
}

.menu li a:active {
    background-color: #282828;
    border: 2px solid #282828;
    transition: all 100ms;
} */