<header id="header">
    <div>
        <img src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/logo__large_plus.png"
            alt="logo-mercadolibre" />
        <form action="">
            <input type="text" placeholder="Buscar productos, marcas y más...">
            <button>
                <span class="iconify" data-icon="carbon:search" data-width="20" data-height="20"></span>
            </button>
        </form>
        <span>
            <span class="iconify" data-icon="mdi:truck-fast-outline" data-width="24" data-height="24"></span>
            <p>!Envío Express <b>en menos de 2 horas!</b></p>
        </span>
    </div>
    <div>
        <div>
            <ul style="padding: 0;">
                <li>
                    <a href="#">Categorías</a>
                    <span class="iconify" data-icon="ic:outline-expand-more"></span>
                </li>
                <li>
                    <a href="#">Historial</a>
                </li>
                <li>
                    <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Ofertas de la semana</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <span class="iconify" data-icon="ph:user-circle-thin"></span>
                    <a href="#">jean</a>
                    <span class="iconify" data-icon="ic:outline-expand-more"></span>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                </li>
                <li>
                    <a href="#">Favoritos</a>
                    <span class="iconify" data-icon="ic:outline-expand-more"></span>
                </li>
                <li>
                    <span class="iconify" data-icon="simple-line-icons:bell"></span>
                </li>
            </ul>
        </div>
    </div>
</header>