<app-header></app-header>

<main>
  <div class="container">
    <ul class="slider">
      <li id="slide1">
        <img src="../assets/images/banner1.webp" />
      </li>
      <li id="slide2">
        <img src="../assets/images/banner2.webp" />
      </li>
      <li id="slide3">
        <img src="../assets/images/banner3.webp" />
      </li>
      <li id="slide4">
        <img src="../assets/images/banner4.webp" />
      </li>
      <li id="slide5">
        <img src="../assets/images/banner5.webp" />
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
      <li>
        <a href="#slide4"></a>
      </li>
      <li>
        <a href="#slide5"></a>
      </li>
    </ul>
  </div>
</main>

<router-outlet></router-outlet>